#heading {
    padding: 20px;
    height: 30px;
    margin-bottom: 10px;
    background: #dddddd;
    border: 1px solid darkGray;
}

#sidebarLeft {
    border: thin solid lightGray;
    padding: 5px;
    width: 200px;
    background: #eeeeee;
}

#content {
    padding: 5px;
    border: thin solid lightGray;
    background: #fefeef;
    position: absolute;
    right: 8px;
    left: 230px;
    height: 400px;
    top: 90px;
}

.header {
    font-size: 1.4em;
    font-style: italic;
    font-family: Palatino;
    text-align: center;
}

.planetImage {
    padding: 5px;
    text-align: center;
}

.planetImageSelected {
    padding: 5px;
    text-align: center;
    background: #fefeef;
    border: thin solid lightGray;
}

.welcome {
    font-style: italic;
    font-family: Palatino;
}

.welcomeImage {
    margin-top: 10px;
    text-align: center;
}
