<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <title><ui:insert name="windowTitle" /></title>
        <h:outputStylesheet library="css" name="styles.css" />
    </h:head>

    <h:body>
        <!-- Control-Shift x -->
        <ui:debug hotkey="x"
                  rendered="#{initParam['javax.faces.PROJECT_STAGE'] eq 'Development'}" />

        <div id="heading">
            <ui:insert name="heading">
                <ui:include src="/sections/planetarium/header.xhtml" />
            </ui:insert>
        </div>


        <div id="sidebarLeft">
            <ui:insert name="sidebarLeft">
                <ui:include src="/sections/planetarium/sidebarLeft.xhtml" />
            </ui:insert>
        </div>

        <div id="content">
            <ui:insert name="content" />
        </div>
        <ui:debug />
    </h:body>
</html>